html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#main{
  display: flex;
  height: 100%;
}
#table{
  width: 40%;
  height: 100%;
  overflow: scroll;
}
#logs{
  overflow: scroll;
  width: 60%;
  height: 100%;
  background-color: black;
  padding: 0 15px;
}
.p_logs{
  color: white;
  margin: 10px 0;
}
.hide{
  display: none;
}
